{% extends "base_generic.html" %}

{% block title %}
<title>Nonatem Zoo | Health Conditions</title>
{% endblock title %}

{% block content %}

{% for condition, condition_diagnoses in conditions.items %}

  <div>
    <h3>{{condition.name}}</h3>
    <p>{{condition.description}}</p>

    <h5>Affected Animals:</h5>
    {% for diagnosis in condition_diagnoses %}
    <p>{{diagnosis.animal}} ({{diagnosis.status}})</p>
    {% endfor %}
  </div>

  {% if not forloop.last %}
  <hr>
  {% endif %}

{% endfor %}

{% endblock %}
