{% extends "base_generic.html" %}

{% block title %}
<title>[cool zoo name] | Feeding Appointments</title>
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center">[cool zoo name]</h1>
  {% for exhibit_name, exhibit_data in data.items %}
  
    <div>
        <h3>{{exhibit_name}}</h3>

        <h5><u>appointments</u></h5>
        {% for k in exhibit_data.appointments %}
        <p>{{k}}</p>
        {% endfor %}

        <h5><u>actions</u></h5>
        {% for k in exhibit_data.actions %}
        <p>{{k}}</p>
        {% endfor %}

        <h5><u>next appointment:</u></h5>
        {{exhibit_data.next_appointment}}
    </div>

    {% if not forloop.last %}
    <hr>
    {% endif %}

  {% endfor %}
</div>
{% endblock %}
