@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.sidebar-nav {
  max-width: 200px;
}

body, button {
  font-family: "Inter", sans-serif;
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.infopanel {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(137, 185, 137);
  color:#ebfcf0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  margin-left: 60px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.infopanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(245, 255, 250);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.infopanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.infopanel .closebtn {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 36px;
  margin-right: 50px;
}
